<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roberta Sentiment Analysis</title>
</head>
<body>
    <h1>Sentiment Analyser</h1>
    <form method="post" action="/predict">
        <label >Analyse sentiment of your text here</label>
        <input type="text" name= "Sentence" class="Sentence_Input">
        <br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>